/*font-family: 'Alegreya', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Alegreya';
}

.header{
    width: 100%;
    min-height: 100vh;
    color: #222;
    background: #e3ebe8;
}

nav{
    background-color: #28be8b;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    font-size: larger;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: #222;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.profile {
    position: relative;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-top: -12px;
    margin-right: 20px;
}

.profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action {
    /* margin-right: 100px; */
    top: 20px;
    right: 30px;
}



.action .menu {
    position: absolute;
    top: 120px;
    right: 97px;
    padding: 10px 20px;
    background: #fff;
    width: 208px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.action .menu ul li i {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover i {
    opacity: 1;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a {
    color: #28be8b;
    font-weight: bold;
}

.dashboard-container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container h2.top {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


.pageContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-bottom: 35px;
}



.pageContainer button {
    padding: 10px;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #222; 
    width: 50px;
    height: 40px;
}

.pageContainer button:hover{
    background-color: #e7e6e6;
}